/*
	BASE-COLOR: midnightblue;
	DARKER-BASE-COLOR: #252830;
*/

html,body{
	margin:0;
	padding:0;
}

nav {
	background-color: midnightblue;
	width: 100%;
	height: 70px;
	position: fixed;
	box-shadow: 
}

html{
	background: #222;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

body{
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	color:#fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

a, a:visited, a:hover{
	color:inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

input[type='text'], input[type='number'], input[type='password'], input[type='time'] {
	padding: 10px 32px;
	border: none;
	letter-spacing: 1px;
	background-color: #444;
	color: white;
	transition-duration: 1s;
}

input[type='text']:focus, input[type='number']:focus, input[type='password']:focus, input[type='time']:focus {
	background-color: #888;
	color: #222;
	font-weight: bold;
}

input[type='text']:focus, input[type='number']:focus, input[type='password']:focus, input[type='time']:focus, input[type='submit']:focus {
	outline: none;
	animation: pulse .8s infinite;
}

input[type='time'] {
	color: white;
}

input[type='submit'] {
	padding: 10px 32px;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.content { width: 100%; height: 100%; padding-top: 70px; }


.content > .container {
	flex-direction: column;
	padding: 30px;
}

/* The cover flow slider */
.container {
	display: flex;
}

@keyframes pulse {
	0% { transform: scale(1); }
	25% { transform: scale(1.1); }
	75% { transform: scale(1); }
}

.btn {
	padding: 8px 32px;
	background-color: midnightblue;
	border: 2px solid midnightblue;
	transition-duration: 1s;
	font-weight: bold;
	text-align: center;
}

.btn:hover {
	animation: pulse 0.8s infinite;
}

h1,h2,h3,h4,h5 { margin-bottom: 0; }

nav > ul {
	padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav li {
	cursor: pointer;
	width: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    border: 2px solid #252830;
    color: white;
    background-color: #252830;
}

nav li.active { 
	background-color: midnightblue;
	font-weight: bold;
	border-color: midnightblue;
	transform: scaleY(1.1);
	box-shadow: 0 0 10px black;
}

nav li.active a {
	animation: pulse 0.5s infinite;
}

.second-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sidebar {
	width: 20%;
}

.sidebar > div.container {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 2%;
	width: inherit;
}

.filters { 
	margin-top: 10px;
	background-color: #111;
	min-height: 400px;
	padding: 15px 25px;
	display: flex;
	flex-direction: column;
}

/*.filters > .container { 
	flex-direction: column;
    position: fixed;
    width: inherit;
    height: inherit;
}

.filters > .container > div { 
	padding: 20px;
	background-color: #111;
	margin-top: 10px;
	height: 100%;
}*/

.musics {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 75%;
}

.musics .music:nth-child(odd) { background-color: #333; }
.musics .music:nth-child(even) { background-color: #444; }

.musics .music {
	padding: 20px;
	transition-duration: 1s;
}

.musics .music:hover { background-color: #CCC; color: #333; }

.musics table { 
	border-spacing: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.musics table td, .musics table th {
	padding: 10px;
}

.musics table thead {
	background-color: midnightblue;
}

.music-form {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.music-form > * {
	margin: 5px 0;
}

.music-form input[type='submit'] {
	margin-top: 10px;
	background-color: midnightblue;
	color: white;
	transition-duration: 1s;
}

.music-form input[type='submit']:hover {
	background-color: #252830;
}

.center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
