<div ng-controller='MusicController as musicCtrl' ng-init="musicCtrl.selectGenres(); musicCtrl.selectArtists();">
	<md-toolbar class="md-primary">
		<div class="md-toolbar-tools">
			<h1 flex>New Music</h1>
		</div>
	</md-toolbar>
	
	<md-content layout-padding layout-align="center center" style>
		<form ng-submit="" name="addMusic-form" layout="column">
			<md-input-container>
				<label>Title</label>
				<input type="text" name="title" data-ng-model="musicCtrl.title" required>	
			</md-input-container>
			
			<div layout="row">
				<md-input-container flex>
					<label>Duration</label>
					<input type="number" name="duration" data-ng-model="musicCtrl.duration">	
				</md-input-container>

				<md-input-container flex>
					<label>Drop Time</label>
					<input type="number" name="drop_time" min="0" data-ng-model="musicCtrl.droptime">
				</md-input-container>

				<md-input-container flex>
					<label>Kill Time</label>
					<input type="number" name="kill_time" min="0" data-ng-model="musicCtrl.killtime">
				</md-input-container>
					
				<md-input-container flex>
					<label>BPM</label>
					<input type="number" name="bpm" min="0" data-ng-model="musicCtrl.bpm">
				</md-input-container>
			</div>

			<div layout="row">
				<md-input-container flex>
					<label>Artist</label>
					<md-select name="artist" data-ng-model="musicCtrl.id_artist">
						<md-option value=""><em>None</em></md-option>
						<md-option ng-repeat="artist in musicCtrl.artists" ng-value="artist.id">
							{{artist.name}}
						</md-option>
					</md-select>
				</md-input-container>

				<md-input-container flex>
					<label>Genre</label>
					<md-select name="genre" data-ng-model="musicCtrl.id_genre">
						<md-option value=""><em>None</em></md-option>
						<md-option ng-repeat="genre in musicCtrl.genres" ng-value="genre.id">
							{{genre.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div layout="row" layout-align="end" flex>
				<md-button class="md- md-fab" ng-click="musicCtrl.addMusic();" aria-label="Finish">
					<md-icon md-icon-set="md">done</md-icon>
				</md-button>
			</div>
		</form>
	</md-content>
</div>