<div ng-controller="MusicController" ng-init="selectMusics()">
	<div class="second-container">
		<div class="musics">
			<table>
				<thead>
					<th>Title</th>
					<th ng-show="showDuration">Duration</th>
					<th ng-show="showDroptime">Drop Time</th>
					<th ng-show="showKilltime">Kill Time</th>
					<th ng-show="showbpm">BPM</th>
					<th ng-show="showArtist">Artist</th>
					<th ng-show="showGenre">Genre</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<tr ng-repeat="music in musics" class="music">
						<td>{{music.title}}</td>
						<td ng-show="showDuration">{{music.getDurationFormatted()}}</td>
						<td ng-show="showDroptime">{{ music.droptime ? music.droptime : "-" }}</td>
						<td ng-show="showKilltime">{{music.killtime ? music.killtime : "-"}}</td>
						<td ng-show="showbpm">{{music.bpm ? music.bpm : "-"}}</td>
						<td ng-show="showArtist">{{music.artist ? music.artist.name : "-"}}</td>
						<td ng-show="showGenre">{{music.genre ? music.genre.name : "-"}}</td>
						<td>
							<a href="" ng-click="editMusic(music);" style="color: deepskyblue;"><i class="fa fa-pencil"></i></a>
							<a href="" ng-click="deleteMusic(music);" style="color: crimson;"><i class="fa fa-remove"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="sidebar">
			<div class="container">
				<a href="#" class="btn" onclick="callPage('add-music');	">Add music</a>

				<div class="filters">
					<b>Showing</b>
					<label><input type="checkbox" ng-model="showDuration" ng-init="showDuration=true" checked> Duration</label>
					<label><input type="checkbox" ng-model="showbpm" ng-init="showbpm=true" checked> BPM</label>			
					<label><input type="checkbox" ng-model="showDroptime" ng-init="showDroptime=false" checked> Drop Time</label>
					<label><input type="checkbox" ng-model="showKilltime" ng-init="showKilltime=false" checked> Kill Time</label>	
					<label><input type="checkbox" ng-model="showArtist" ng-init="showKilltime=false" checked> Artist</label>	
					<label><input type="checkbox" ng-model="showGenre" ng-init="showKilltime=false" checked> Genre</label>	
				</div>
			</div>		
		</div>
	</div>			
</div>