<div ng-controller="MusicController as musicCtrl" ng-init="musicCtrl.selectMusics(); musicCtrl.selectTags();" layout="column">
	<md-toolbar class='md-primary'>
		<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
			<div layout="row">
				<md-button class="md-accent md-mini md-fab" onclick="goto('add-music');">
					<md-icon md-icon-set="md">add</md-icon>
				</md-button>
			</div>

			<div layout="row">
				<md-chips data-ng-model="musicCtrl.selectedTags" md-autocomplete-snap md-require-match="true">
					<md-autocomplete md-selected-item="musicCtrl.selectedItem" md-search-text="musicCtrl.searchText" md-items="tag in musicCtrl.tags | filter: { name: musicCtrl.searchText }" md-item-text="tag.name" placeholder="Search for a tag">
						<span md-highlight-text="musicCtrl.searchText"> {{tag.name}} </span>
					</md-autocomplete>

					<md-chip-template>
						<strong>{{$chip.name}}</strong>
					</md-chip-template>							
				</md-chips>
			</div>
		</div>		
	</md-toolbar>

	<md-content layout-padding style="height: 100vh;">
		<div layout="row" layout-align="space-between">
			<md-card style="width:80%;">
				<md-table-container>
					<table md-table>
						<thead md-head>
							<tr md-row>
								<th md-column>Title</th>
								<th md-column md-numeric ng-show="showDroptime">Ddrop Time (s)</th>
								<th md-column md-numeric ng-show="showKilltime">Kill Time (s)</th>
								<th md-column md-numeric ng-show="showBpm">BPM</th>
								<th md-column md-numeric ng-show="showArtist">Artist</th>
								<th md-column md-numeric ng-show="showGenre">Genre</th>
								<th md-column md-numeric ng-show="showDuration">Duration</th>
								<th md-column md-numeric>Tags</th>
								<th md-column md-numeric>Actions</th>
							</tr>
						</thead>

						<tbody md-body>
							<tr md-row ng-repeat="music in musicCtrl.musics" ng-show="musicCtrl.isInQuery(music.tags)">
								<td md-cell>{{music.title}}</td>
								<td md-cell ng-show="showDuration">{{music.duration ? music.getDurationFormatted() : "-"}}</td>
								<td md-cell ng-show="showDroptime">{{music.droptime ? music.droptime : "-"}}</td>
								<td md-cell ng-show="showKilltime">{{music.killtime ? music.killtime : "-"}}</td>
								<td md-cell ng-show="showBpm">{{music.bpm ? music.bpm : "-"}}</td>
								<td md-cell ng-show="showArtist">{{music.artist.name ? music.artist.name : "-"}}</td>
								<td md-cell ng-show="showGenre">{{music.genre.name ? music.genre.name : "-"}}</td>
								<td md-cell>
									<span class='md-accent' ng-repeat="tag in music.tags">{{tag.name}} </span>
								</td>
								<td md-cell colspan="3">
								<md-button class="md-fab md-mini md-accent" aria-label="Show" ng-click="musicCtrl.showMusic(music);">
								<md-icon md-icon-set="md">visibility</md-icon>
								</md-button>

								<md-button class="md-fab md-mini md-primary" aria-label="Edit" ng-click="musicCtrl.editMusic(music);">
								<md-icon md-icon-set="md">create</md-icon>
								</md-button>

								<md-button class="md-fab md-mini md-warn" aria-label="Remove" ng-click="musicCtrl.deleteMusic(music.id);">
								<md-icon md-icon-set="md">remove</md-icon>
								</md-button>
								</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>	
			</md-card>

			<div>
				<md-card layout-padding>
					<md-card-title><h2 style="margin: 0;">Showing:</h2></md-card-title>
					
					<md-card-content>
						<md-switch aria-label="Show duration" class="md-accent" ng-init="showDuration=true" data-ng-model="showDuration">
							Duration
						</md-switch>

						<md-switch aria-label="Show bpm" class="md-accent" ng-init="showBpm=true" data-ng-model="showBpm">
							BPM
						</md-switch>

						<md-switch aria-label="Show droptime" class="md-accent" ng-init="showDroptime=false" data-ng-model="showDroptime">
							Droptime
						</md-switch>

						<md-switch aria-label="Show killtime" class="md-accent" ng-init="showKilltime=false" data-ng-model="showKilltime">
							Killtime
						</md-switch>

						<md-switch aria-label="Show artist" class="md-accent" ng-init="showArtist=false" data-ng-model="showArtist">
							Artist
						</md-switch>

						<md-switch aria-label="Show genre" class="md-accent" ng-init="showGenre=false" data-ng-model="showGenre">
							Genre
						</md-switch>
					</md-card-content>
				</md-card>
			</div>
		</div>
	</md-content>
</div>